/* Fundo */
body {
    background: #F6F6F6;
    padding: 0;
    display: flex;
    flex-direction: column;
}

/* Fundo Branco*/
main {
    max-width: 1280px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    background: #FFFFFF;
    box-sizing: border-box;
}

/* Carrossel */
.carrossel{
    width: 100%;
    max-width: 1280px;
    overflow: hidden;
    position: relative;
}
.carrossel input{
    display:none;
}
.slide {
    width: 100%;
    position: relative;
}
.slide_texto {
    position: absolute;
    width: 100%;
    bottom: 40px;
    text-align: center;
    transition: 2s;
}
.slide_texto h1 {
    font-family: 'Alkatra';
    color: #FFFFFF;
    font-size: 24px;
}
.slide img{
    width: 100%;
    height: auto;
}
.slides{
    width: 400%;
    height: auto;
    display: flex;
    transition: 2s;
    align-items: flex-start;
}
.navegacao_manual{
    position: absolute;
    width: 100%;
    bottom: 20px;
    display: flex;
    gap: 15px;
    justify-content: center;
}
.manual_btn{
    border: 2px solid #FFFFFF;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
    bottom: 12px; 
}
.manual_btn:hover{
    background-color: #FFFFFF;
}
#radio1:checked ~ .slides{
    margin-left: 0;
}
#radio2:checked ~ .slides{
    margin-left: -100%;
}
#radio3:checked ~ .slides{
    margin-left: -200%;
}
#radio4:checked ~ .slides{
    margin-left: -300%;
}
#radio1:checked ~ .navigation_auto .auto-btn1{
    background-color: #FFFFFF;
}
#radio2:checked ~ .navigation_auto .auto-btn1{
    background-color: #FFFFFF;
}
#radio3:checked ~ .navigation_auto .auto-btn1{
    background-color: #FFFFFF;
}
#radio4:checked ~ .navigation_auto .auto-btn1{
    background-color: #FFFFFF;
}

/* Cabeçalho*/
header {
    width: 100%;
    height: 150px;
    background: #420000;
    display: flex;
    align-items: center; 
}
#nav_bar{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
.logo1{
    width: 150px;
    display: flex;
    align-items: center;
}
.logo1 img{
    max-width: 100%;
    height: auto;
}
.menu_pc {
  display: flex;
  justify-content: center;
  flex: 1;
}

/* MENU */
.menu_principal {
    display: flex;
    gap: 150px;
}
.menu_principal a {
    font-family: 'Chango';
    font-size: 28px;
    color: #F6F6F6;
    text-decoration: none;
    transition: 0.3s;
}
.menu_principal a:hover{
    color:#880000
}
.mobile_menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 30%;
    height: 100%;
    background-color: #420000;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
}
.hamburguer {
    display: none;
    color: #F6F6F6;
    background: none;
    border: none;
    font-size: 36px;
    cursor: pointer;
    right: 10px;
}
.close{
    font-size: 24px;
    background: none;
    border: none;
    color: #F6F6F6;
    cursor: pointer;

}

/* Títulos*/
.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    margin-top: 80px; 
    margin-bottom: 40px;
}
.titulo h1 {
    /*Formatação dos textos dos titulos */
    font-family: 'Alkatra';
    font-size: 80px;
    line-height: 135px;
    color: #880000;
    text-align: center;
}
.barra_horizontal {
    /* Barra Horizontal */
    width: 120px;
    height: 9px;
    background: #420000;
    border-radius: 5px;
    margin-top: -30px;
}

/*Subtítulos*/
.subtitulos {
    display: flex;
    flex-direction: row; 
    align-items: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.subtitulos h2 {
    /*Formatação dos textos do subtitulo */
    font-family: 'Alkatra';
    font-size: 55px;
    color: #000000;
    margin: 0;
}
.barra_vertical {
    /* Estilo da barra vertical */
    width: 10px;
    height: 90px;
    background: #420000;
    border-radius: 5px;
    margin-right: 20px;
    display: inline;
}

/*Seções de Poster*/
.galeria {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 100px;
}
.linha_poster {
    /* grade */
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px;
}
.poster {
    /*Poster*/
    width: 282px;
    height: auto;
}
.poster img {
    /*Informações Imagem */
    display: block;
    width: 100%;
    aspect-ratio: 282 / 400;
    object-fit: cover;
}
.poster_caixa{
    /*Caixa de Texto*/
    margin-top: 4px;
}
.poster_texto {
    /*Texto abaixo dos poster*/
    font-family: 'Alkatra';
    text-align: center;
    font-size: 20px;
    color: #000000;
    margin: 0;
}

/* Rodapé */
footer {
    /* Fundo Rodapé*/
    width: 100%;
    padding: 40px 0 0;
    background: #420000;
}
footer a{
    /*Texto Rodapé*/
    font-family: 'Alkatra';
    font-size: 20px;
    text-decoration: none;
    color: #F6F6F6;
}
.quadrado_vermelho {
    /*Quadrado Vermelho do final*/
    background-color: #880000;
    width: 100%;  
    text-align: center;
    padding: 15px 0;
}
.quadrado_vermelho h1 {
    /* Texto do Quadrado Vermelho*/
    font-family: 'Alkatra';
    font-size: 20px;
    color: #F6F6F6;
    margin: 0;
}
#container_rodape {
    /*Espaço para itens do rodapé*/
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around; 
    align-items: flex-start;
    gap: 40px;
}
.rodape_coluna {
    /* Coluna dos Rodapé*/
    display: flex;
    flex-direction: column; 
    gap: 15px;
}
.rodape_coluna h1 {
    /* Texto das Colunas*/
    font-family: 'Alkatra';
    font-weight: 400;
    font-size: 30px;
    color: #F6F6F6;
    margin: 0 0 10px 0;
}
.logo2{
    width: 300px;
    display: flex;
    align-items: flex-start;
}
.logo2 img{
    max-width: 100%;
    height: auto;
}

/* Modal */
#modal_container {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none; 
}
#modal_container.active {
    display: flex;
}
#modal {
    background: #F6F6F6;
    padding: 30px;
    border-radius: 10px;
    border: 3px solid #420000;
    max-width: 800px;
    position: relative;
    display: flex;
    align-items: flex-start;
    gap: 20px;
}
#modal_imagem {
    width: 282px;
    height: 400px;
    object-fit: cover;
}
.modal_texto h1{
    font-family: 'Chango';
    text-align: center;
    font-size: 40px;
    color: #420000;
    margin: 0;
}
.modal_texto h2{
    font-family: 'Chango';
    font-size: 25px;
    text-align: center;
    color: #420000;
    margin: 0;
}
.modal_texto p{
    font-family: 'Alkatra';
    font-size: 20px;
    color:#000000;
    margin: 0;
}
.aberto {
  overflow: hidden;
}
.fechar {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 35px;
    color: #420000;
    cursor: pointer;
    background: none;
    border: none;
}

@media (max-width: 768px) {
    main {
        width: 100%; 
    }
    /*Cabeçalho */
    header {
        height: 100px;
    }
    .menu_pc {
        display: none;
    }
    .hamburguer {
        display: flex;
    }
    .mobile_menu{
        position: fixed;
    }
    .menu_principal a{
        font-size: 18px;
    }
    #nav_bar {
        position: relative;
        right: 20px;
    }
    .mobile_menu .menu_principal {
        flex-direction: column;
        gap: 40px;
        padding: 0;
        list-style: none;
        text-align: center;
    }
    #container {
        flex-direction: column;
        gap: 15px;
    }

    /* --- CARROSSEL --- */
    .carrossel {
        height: 300px;
    }
    .slide img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .slide_texto h1 {
        font-size: 8px;
        bottom: 40%;
    }
    .navegacao_manual {
        bottom: 30%;
    }

    /* Titulos */
    .titulo{
        padding-left: 10px;
        padding-right: 10px;
    }
    .titulo h1 {
        font-size: 64px;
    }
    /*Subtitulos */
    .subtitulos{
        padding-left: 10px;
        padding-right: 10px;
    }
    .subtitulos h2 {
        font-size: 28px;
    }

    /* --- PÔSTERES --- */
    .galeria{
        padding-left: 10px;
        padding-right: 10px;
    }
    .linha_poster {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    .poster{
        width: 100%;
    }
    .poster_texto {
        font-size: 15px;
    }
    
    /* --- RODAPÉ --- */
    #container_rodape {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #modal {
        flex-direction: column;
        align-items: center;
        height: auto;
        max-height: 90%;
    }
    .modal_texto h1{
        font-size: 25px;
    }
    .modal_texto h2{
        font-size: 20px;
    }
    .modal_texto p{
        font-size: 15px;
    }
    #modal_imagem {
        width: 199px;
        height: 300px;
    }
    #manual_btn{
        padding: 3px;
        border-width: 1px;
        gap: 10px;  
    }

}